doctype html
html
  title House Points Scorekeeper
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" type="text/css" href="/css/scorekeeper.css")
  script(type="text/javascript" src="/js/sizzle.js")
  script(type="text/javascript" src="/js/primus.io.js")
  script(type="text/javascript" src="/js/main.js")
  body
    .houses
      each house in houses
        .house(data-house-id=house.id)
          img.houseimg(src='/img/#{house.name.toLowerCase()}.svg')
          button(type="button" data-house=house.name disabled) Add Points
          .housename=house.name
          .housepoints=house.points
